@-moz-document domain("accounts.google.com") {
:root
{
    --main-bg-color: #21262b;
    --main-fg-color: #bbb;
    --lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
    --highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
}

body > div:first-child > div,
html, body,
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"]
{
    background: var(--main-bg-color) !important;
    color: var(--main-fg-color)  !important;
}

input
{
    color: var(--main-fg-color)  !important;
}

.card
{
    background: var(--lighter-bg-color) !important;
}

.N3Hzgf .snByac
{
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

#lang-chooser span
{
    color: var(--main-fg-color)  !important;
}
}
