:root
{
    --main-bg-color: hsl(213, 10%, 17%);
    --main-fg-color: #bbb;
    --light-bg-color: hsl(213, 10%, 23%);
    --light-fg-color: #ccc;
    --lighter-bg-color: hsl(213, 10%, 29%);
    --lighter-fg-color: #ddd;
    --highlight-bg-color: hsl(213, 10%, 35%);
    --highlight-fg-color: #eee;
    --dim-fg-color: #999;
    --disable-bg: hsl(210, 20%, 25%);
    --disable-fg: hsl(210, 20%, 55%);
    --border-color: #888;
    --primary-color: hsl(210, 78%, 46%);
    --tint-color: hsl(210, 30%, 25%);
    --tint-dim: hsl(210, 25%, 20%);

    --color-border: var(--border-color);

    --color-background-canvas: var(--main-bg-color);
    --color-background-container: var(--light-bg-color);
    --color-background-container-tint: var(--tint-color);
    --color-background-disabled: var(--disable-bg);
    --color-background-brand-accent-4: var(--tint-dim);
    --color-background-brand-accent-5: var(--lighter-bg-color);
    --voyager-color-background-comment: var(--lighter-bg-color);
    --voyager-color-background-container-tint-2: var(--tint-color);
    --voyager-color-background-input-search: var(--lighter-bg-color);
    --voyager-color-action-selected: var(--highlight-bg-color);

    --color-text: var(--main-fg-color);
    --color-text-disabled: var(--disable-fg);
    --color-text-low-emphasis: var(--lighter-fg-color);
    --color-text-low-emphasis-shift: var(--light-fg-color);
    --color-action: var(--primary-color);

    --color-icon: var(--main-fg-color);
    --color-icon-nav: var(--main-fg-color);
    --color-icon-nav-active: var(--highlight-fg-color);
}

body
{
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

hr
{
    border-color: var(--border-color);
}

li-icon
{
    color: var(--main-fg-color);
}

.msg-s-event-listitem__attachment-type--pdf
{
    background: var(--main-bg-color);
}

.msg-s-event-listitem__attachment-type--pdf .attachment-filename,
.msg-s-event-listitem__attachment-type--pdf .attachment-filesize
{
    color: var(--main-fg-color);
}

.iph-widget__search-container,
.mercado-styling input.iph-widget__search-textbox
{
    background: var(--light-bg-color);
}

.iph-widget__main-content-article
{
    background: var(--light-bg-color);
}

.iph-widget__contextual-help-header
{
    color: var(--main-fg-color);
}

.msg-reactions__pill--viewer-reacted
{
    background-color: var(--tint-dim);
}

.msg-reactions__pill--viewer-reacted:hover
{
    background-color: var(--tint-color);
}

.msg-reactions__entry-point .artdeco-button__icon,
.msg-reactions__pill
{
    background-color: var(--tint-dim);
    border-color: var(--tint-color);
}

.msg-reactions__entry-point:hover .artdeco-button__icon
{
    background-color: var(--tint-color);
    border-color: var(--tint-color);
}
