 @-moz-document url-prefix("https://lkml.org/lkml/") {
:root
{
    --main-bg-color: #21262b;
	--main-fg-color: #bbb;
	--lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
}

body
{
    font-size: 16px;
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

td.c
{
    background: var(--lighter-bg-color);
    color: var(--main-fg-color);
}

ul.threadlist li a, td.lm a, td.nb a
{
    color: var(--main-fg-color);
}

img
{
    filter: invert(0.9);
}
}
