@-moz-document url-prefix("https://numpy.org/doc") {
:root
{
    --main-bg-color: #21262b;
    --main-fg-color: #bbb;
    --lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
    --highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
    --primary-color: #015f7f;
    --primary-color-dim: #014c66;
}

body
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

h1
{
    color: var(--primary-color);
}

.form-control:focus
{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-fg-color);
}

/* --- Nav --- */

.navbar
{
    background-color: var(--main-bg-color) !important;
}

.navbar-brand img
{
    background-color: var(--lighter-bg-color) !important;
}

.navbar-light .navbar-nav .nav-link
{
    color: var(--main-fg-color);
}

.navbar-nav > .active > .nav-link
{
    color: var(--primary-color-dim) !important;
}

.navbar-light .navbar-toggler-icon
{
    filter: invert(1);
}


/* --- Sidebar --- */

.bd-search input
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.bd-sidebar .nav li a
{
    color: var(--main-fg-color) !important;
}

.bd-sidebar .nav .active:hover > a,
.bd-sidebar .nav .active > a
{
    color: var(--primary-color-dim) !important;
}


/* --- Main --- */

h3
{
    color: var(--primary-color);
}

pre
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

.prev-next-bottom a.left-prev,
.prev-next-bottom a.right-next
{
    color: rgba(255,255,255,.65);
}

.highlight .go
{
    color: var(--highlight-fg-color);
}

.table
{
    color: var(--main-fg-color);
}

.admonition.warning .admonition-title
{
    background-color: var(--highlight-bg-color);
}
}
