/* ==UserStyle==
@name           Numpy Scipy Docs Dark Breeze
@namespace      USO Archive
@author         Kajika
@description    `Dark theme for Numpy and Scipy Docs, made to blend nicely with breeze dark (KDE theme).`
@version        20190206.5.4
@license        CC-BY-SA-4.0
@preprocessor   uso
==/UserStyle== */
@-moz-document url-prefix("https://docs.scipy.org"), url-prefix("http://scipy.github.io") {
:root
{
    --main-bg-color: #21262b;
	--main-fg-color: #bbb;
	--lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
}

body, .main
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

table.field-list th.field-name,
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,
.well
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

table.field-list
{
    border-color: var(--lighter-bg-color) !important;
}

code.literal, pre, .highlight, .highlight .go
{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-fg-color);
}

.nav-list > li > a, .nav-list .nav-header
{
    text-shadow: none;
}

.nav > li > a:hover, .nav > li > a:focus
{
    background-color: var(--main-bg-color);
}

.figure
{
    filter: invert(0.8);
}
}
