 @-moz-document domain("suckless.org") {
:root
{
    --main-bg-color: #21262b;
	--main-fg-color: #bbb;
	--lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
}

body, #header
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

#menu a
{
    color: var(--lighter-fg-color);
}

#nav a:hover
{
    background-color: var(--highlight-bg-color);
    color: var(--main-fg-color);
}
}
