/* ==UserStyle==
@name           Tensorboard Dark (breeze)
@namespace      USO Archive
@author         Kajika
@description    `Dark theme for tensorboard (match port 60**), very minimal.It is trying to blend nicely with dark-breeze theme (KDE theme)`
@version        20191126.5.36
@license        CC-BY-SA-4.0
@preprocessor   uso
==/UserStyle== */
@-moz-document regexp("http://[\\w\\.-]+:60[\\w]{2}/.*") {
/* Tensorboard v2 */
tf-tensorboard
{
    --paper-grey-100: #21262b;
    --paper-grey-800: #bbb;
    --primary-background-color: #21262b;
    --primary-text-color: #bbb;
    --tb-ui-light-accent: #31363b;

    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

/* Tensorboard v1 */
.tf-tensorboard-0 {
    background: #21262b !important;
	color: #aaa !important;
}

.paper-dialog-0 {
    background: #21262b !important;
}

.heading.tf-category-pane,
.tf-collapsable-pane-0 .heading.tf-collapsable-pane {
    background: #21262b !important;
    box-shadow: 0 1px 5px rgba(255,255,255,0.2) !important;
}

.title.tf-smoothing-input,
#checkboxLabel.paper-checkbox,
.input-content.paper-input-container input,
.input-content.paper-input-container textarea,
.input-content.paper-input-container iron-autogrow-textarea,
.input-content.paper-input-container .paper-input-input,
h3.tf-image-dashboard,
h3.tf-option-selector,
.tf-category-pane,
#tooltip-help.tf-runs-selector,
.paper-dialog-0 h2,
#radioLabel.paper-radio-button {
    color: #ccc !important;
}

#offRadio.paper-radio-button {
    border-color: #aaa !important;
}

.content.tf-category-pane,
.tf-collapsable-pane-0 .content.tf-collapsable-pane {
    background: #21262b !important;
    border: 1px solid #aaa !important;
    border-top: 0 !important;
}

.sidebar-section.tf-image-dashboard {
    border-top: solid 1px rgba(255, 255, 255, 0.12) !important;
}

.plottable .component.axis {
    filter: invert(100%);
}

.tf-paginated-view-0 .big-page-buttons.tf-paginated-view paper-button.tf-paginated-view,
.tf-runs-selector-0 .x-button.tf-runs-selector,
.tf-run-selector-0 .x-button.tf-run-selector,
.tf-scalar-dashboard-0 .log-button.tf-scalar-dashboard {
    background: #31363b !important;
}

.tf-paginated-view-0 .big-page-buttons.tf-paginated-view paper-button[disabled].tf-paginated-view {
    background: none !important;
}

/* Header */
.tf-tensorboard-0 #toolbar.tf-tensorboard {
    background-color: #c55c00 !important;
}

.title.tf-graph-controls {
    color: #ddd !important;
}

/* Graphs specific */
#center.tf-dashboard-layout {
    filter: invert(90%) !important;
}

.legend-holder.tf-graph-controls {
    background: #41464b !important;
    color: #ddd !important;
}

.legend-clarifier.tf-graph-controls {
    color: #5B976B !important;
}

/* Projector */
#left-pane.vz-projector,
#right-pane.vz-projector,
#title.vz-projector-bookmark-panel {
    background: #21262b !important;
    color: #ddd !important;
    
}

.title.vz-projector-data-panel,
.ink-tab-group.vz-projector-projections-panel .projection-tab {
    color: #ddd !important;
}

.ink-tab-group.vz-projector-projections-panel .projection-tab.active.vz-projector-projections-panel {
    border-color: #ddd;
}

.ink-button.vz-projector-projections-panel,
.ink-button,
.button.vz-projector-inspector-panel {
    background: #41464b !important;
}
} 
