/* ==UserStyle==
@name           Tensorflow Dark Breeze
@namespace      USO Archive
@author         Kajika
@description    `Dark theme for Tensorflow.org, made to blend nicely with breeze dark (KDE theme).Started from Matt Van Dyke7s tensorflow dark (WIP).`
@version        20190906.11.1
@license        CC-BY-SA-4.0
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("www.tensorflow.org"), domain("tensorflow-dot-devsite-v2-prod.appspot.com") {
:root {
    --main-bg-color: #21262b;
	--main-fg-color: #bbb;
	--lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
    --primary: hsl(33, 70%, 50%);
    --secondary: #cf4c20;
}

body,
body[theme="tensorflow-theme"][layout="docs"],
body[theme="tensorflow-theme"] [ds-is="header"] .devsite-top-logo-row,
body[theme="tensorflow-theme"] [ds-is="header"] [ds-is="tabs"].upper-tabs .devsite-tabs-wrapper,
body[theme="tensorflow-theme"] [ds-is="tabs"].upper-tabs tab > a,
body[theme="tensorflow-theme"] [ds-is="header"] [ds-is="search"] .devsite-search-field,
body[theme="tensorflow-theme"] devsite-header .devsite-top-logo-row,
body[theme="tensorflow-theme"] devsite-header devsite-tabs.upper-tabs .devsite-tabs-wrapper,
body[pending] devsite-book-nav,
.devsite-book-nav-bg,
.tensorsite-home-hero__side--right,
[ds-is="book-nav"] .devsite-nav-item:not(.devsite-nav-accordion) > devsite-expandable-nav > .devsite-nav-title-no-path, [ds-is="book-nav"] .devsite-nav-item:not(.devsite-nav-accordion):not(.devsite-nav-heading) > .devsite-nav-title:not(.devsite-nav-active),
body[theme="tensorflow-theme"] [ds-is="tabs"].lower-tabs a,
body[theme="tensorflow-theme"] [ds-is="header"] .devsite-tabs-dropdown-content,
body[theme="tensorflow-theme"] [ds-is="tabs"].upper-tabs tab[dropdown] .devsite-tabs-dropdown a,
body[theme="tensorflow-theme"] [ds-is="tabs"].upper-tabs tab[dropdown] .devsite-tabs-dropdown a,
.devsite-nav-title[href],
devsite-footer-linkboxes,
devsite-footer-linkboxes .devsite-footer-linkbox-link,
devsite-footer-utility,
devsite-footer-utility .devsite-footer-utility-link,
devsite-select .devsite-select-toggle,
devsite-select .devsite-select-list,
body[theme="tensorflow-theme"] devsite-tabs.upper-tabs tab > a
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

.tensorsite-tab,
body[layout="docs"] .devsite-article,
body[theme="tensorflow-theme"] [ds-is="tabs"].upper-tabs > div > tab[active] > a,
[ds-is="book-nav"] .devsite-nav-title.devsite-nav-active,
body[theme="tensorflow-theme"] [ds-is="header"] [ds-is="search"] .devsite-search-field:hover,
body[theme="tensorflow-theme"] [ds-is="tabs"].lower-tabs tab[active] > a,
body[theme="tensorflow-theme"] .devsite-collapsible-section,
body[theme="tensorflow-theme"] devsite-tabs.lower-tabs a,
body[theme="tensorflow-theme"] devsite-tabs.upper-tabs > div > tab[active] > a,
body[theme="tensorflow-theme"] devsite-tabs.lower-tabs tab[active] > a,
body[theme="tensorflow-theme"] devsite-header .devsite-tabs-dropdown-content,
body[theme="tensorflow-theme"] devsite-tabs.upper-tabs tab[dropdown] .devsite-tabs-dropdown a,
body[theme="tensorflow-theme"] devsite-tabs.upper-tabs tab[dropdown] .devsite-tabs-dropdown a:visited,
.devsite-nav-title[href]:hover,
.devsite-nav-title[href]:focus
{
    background-color: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

[ds-is="book-nav"] .devsite-nav-item:not(.devsite-nav-accordion) > devsite-expandable-nav > .devsite-nav-title-no-path:focus, [ds-is="book-nav"] .devsite-nav-item:not(.devsite-nav-accordion) > devsite-expandable-nav > .devsite-nav-title-no-path:hover,
[ds-is="book-nav"] .devsite-nav-item:not(.devsite-nav-accordion):not(.devsite-nav-heading) > .devsite-nav-title:not(.devsite-nav-active):focus, 
[ds-is="book-nav"] .devsite-nav-item:not(.devsite-nav-accordion):not(.devsite-nav-heading) > .devsite-nav-title:not(.devsite-nav-active):hover,
body[theme] [ds-is=header] .devsite-header-billboard-search [ds-is=search][search-active] .devsite-search-field,
body[theme] [ds-is=header] .devsite-header-billboard-search [ds-is=search][search-active] .devsite-search-field:hover,
body[theme] [ds-is=header][search-expanded] [ds-is=search][search-active] .devsite-search-field,
body[theme] [ds-is=header][search-expanded] [ds-is=search][search-active] .devsite-search-field:hover,
body[type=error] [ds-is=search][search-active] .devsite-search-field,
body[type=error] [ds-is=search][search-active] .devsite-search-field:hover,
body devsite-book-nav .devsite-nav-item:not(.devsite-nav-accordion):not(.devsite-nav-heading) > .devsite-nav-title:not(.devsite-nav-active):hover, 
body devsite-book-nav .devsite-nav-item:not(.devsite-nav-accordion):not(.devsite-nav-heading) > .devsite-nav-title:not(.devsite-nav-active):focus, 
body devsite-book-nav .devsite-nav-item:not(.devsite-nav-accordion) > devsite-expandable-nav > .devsite-nav-title-no-path:hover,
body devsite-book-nav .devsite-nav-item:not(.devsite-nav-accordion) > devsite-expandable-nav > .devsite-nav-title-no-path:focus,
body devsite-book-nav .devsite-nav-title.devsite-nav-active,
.pre-style, code, pre,
blockquote
{
    background-color: var(--highlight-bg-color);
    color: var(--highlight-fg-color);
}

body[theme="tensorflow-theme"] [ds-is="tabs"].upper-tabs > div > tab[active] > a::after,
body[theme="tensorflow-theme"] [ds-is="tabs"].lower-tabs tab[active] > a::after
{
    background: var(--lighter-fg-color);
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code
{
    color: var(--lighter-fg-color);
}

.devsite-nav-heading > .devsite-nav-title,
.devsite-nav-title
{
    color: var(--highlight-fg-color);
}

.caution, .caution :link, .caution :visited, .caution code
{
    background-color: var(--highlight-bg-color);
}
} 
