/* ==UserStyle==
@name           Void Linux Dark Breeze
@namespace      USO Archive
@author         Kajika
@description    `Dark theme for voidlinux.org, made to blend nicely with breeze dark (KDE theme).`
@version        20181006.19.23
@license        CC-BY-SA-4.0
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("voidlinux.org") {
:root
{
    --main-bg-color: #21262b;
	--main-fg-color: #bbb;
	--lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
    --selected-bg-color: #51565b;
    --hover-bg-color: #61666b;
    --text-light: #eee;
    --code-bg-color: #6d6653;
    --code-fg-color: #aaa;
    --code-link-color: #89a;
    --code-string-color: #925;
    --code-variable-color: #795;
    --code-built-color: #58b;
}

body
{
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}

h1,h2,h3,h4
{
    color: var(--main-fg-color);
}

pre,
code,
pre code,
p > code, li > code, pre > code
{
    background-color: var(--code-bg-color);
    color: var(--code-fg-color);
}

pre a
{
    color: var(--code-link-color);
}

#voidSearch_box
{
    background-color: var(--lighter-bg-color);
}

#voidSearch_result tr td
{
    color: var(--main-fg-color);
}

#voidSearch_result tr:nth-child(2n)
{
    background-color: var(--lighter-bg-color);
}

#voidSearch_result tr:hover td,
#voidSearch_result tr:hover a
{
    color: var(--highlight-fg-color);
}

/* --- FORUM --- */

.d-header
{
    background-color: var(--lighter-bg-color);
}

#banner,
.list-controls .combo-box .combo-box-header,
.select-kit .select-kit-collection,
#topic-progress,
aside.quote .title,
blockquote
{
    background-color: var(--lighter-bg-color);
    color: var(--main-fg-color);
}

#topic-progress,
aside.quote .title,
blockquote
{
    border-color: var(--highlight-bg-color);
}

.topic-map,
.topic-map section,
.menu-panel
{
    background-color: var(--lighter-bg-color);
}

.topic-map .buttons .btn
{
    background-color: var(--highlight-bg-color);
}

.topic-map .buttons .btn:hover
{
    background-color: var(--hover-bg-color);
}

.extra-info-wrapper .topic-link,
.extra-info-wrapper .badge-wrapper.bullet span.badge-category,
.nav-pills > li > a
{
    color: var(--main-fg-color);
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title,
.badge-wrapper.bullet span.badge-category,
#topic-title h1 a
{
    color: var(--lighter-fg-color);
}

.select-kit .select-kit-row.is-highlighted
{
    background-color: var(--highlight-bg-color);
}

.hljs
{
    color: var(--main-fg-color);
}

.hljs-keyword,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status
{
    color: var(--lighter-fg-color);
}

.hljs-string,
.hljs-tag .hljs-string,
.tex .hljs-formula
{
    color: var(--code-string-color);
}

.hljs-attribute,
.css .hljs-keyword,
.hljs-variable,
.lisp .hljs-body
{
    color: var(--code-variable-color);
}

.hljs-built_in,
.lisp .hljs-title,
.clojure .hljs-built_in,
.hljs-builtin-name
{
    color: var(--code-built-color);
}
} 
