@-moz-document domain("x.org") {
:root
{
    --main-bg-color: #21262b;
	--main-fg-color: #bbb;
	--lighter-bg-color: #31363b;
    --lighter-fg-color: #ccc;
	--highlight-bg-color: #41464b;
    --highlight-fg-color: #ddd;
}

body
{
    background: var(--main-bg-color);
    color: var(--main-fg-color);
}

.pageheader,
tr:nth-child(2n)
{
    background: var(--lighter-bg-color);
    color: var(--lighter-fg-color);
}

code, pre,
.pageheader .actions ul li a, input[type="submit"],
thead th,
tr:nth-child(2n+1)
{
    background: var(--highlight-bg-color);
    color: var(--highlight-fg-color);
}

input#searchbox
{
    background-color: var(--highlight-bg-color);
    background-blend-mode: multiply;
    color: var(--highlight-fg-color);
}
} 
